.result {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 61.8%;
    background-color: #f7faff;
}

.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.right_margin{
    margin-right: 2em;
    margin-bottom: 0;
}